// フォントカラー
$main-color--b: #333333;
$main-color--w: #ffffff;
$main-color--gray: #8f8f8fe6;
$main-color--tel: #df2323;
$main-color--textShadow-start: #7488a31e;
$main-color--textShadow-end: #7488a349;



// 背景カラー
$main-color-bg: #ffffff;
$contactBtn-color--bg: #90A83D;
$item-hover--bg:#9e9a9a;
$item-hover--bg-b:#4d4d4de6;
$modal-bg:#1e1e1ee6;
$modal-close--bg:#c9c8c8;
$contact-hover--bg: #e3d8c434;

// ボーダーカラー
$border-color--b: #333333;
$item-hover--b:#dfdddd94;


// ボーダーカラー
$border-color--b: #333333;
$item-hover--b:#dfdddd94;

// その他
$yellow-b: #ffd40099;
$pink-t: #E76179;
$contact-item-1: #72A0C0;
$contact-item-2: hwb(205 45% 25% / 0.8);
$contact-item-3: hwb(205 45% 25% / 0.5);
$contact-item-4: hwb(205 45% 25% / 0.2);;
$swiper-active: #CEBB74;